<header>
    <div class="logo">
      <img src="assets/logo.png" alt="Banco Logo">
      <h1>BANCO</h1>
    </div>
  </header>
  <main>
    <div class="form-container">
      <h2>Editar Producto</h2>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="id">ID</label>
          <input id="id" formControlName="id" type="text" />
          <div *ngIf="productForm.get('id')?.invalid && (productForm.get('id')?.dirty || productForm.get('id')?.touched)">
            <div *ngIf="productForm.get('id')?.errors?.['required']">Este campo es requerido.</div>
            <div *ngIf="productForm.get('id')?.errors?.['pattern']">ID no válido!</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input id="name" formControlName="name" type="text" />
          <div *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.dirty || productForm.get('name')?.touched)">
            <div *ngIf="productForm.get('name')?.errors?.['required']">Este campo es requerido.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <input id="description" formControlName="description" type="text" />
          <div *ngIf="productForm.get('description')?.invalid && (productForm.get('description')?.dirty || productForm.get('description')?.touched)">
            <div *ngIf="productForm.get('description')?.errors?.['required']">Este campo es requerido.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="logo">Logo</label>
          <input id="logo" formControlName="logo" type="text" />
          <div *ngIf="productForm.get('logo')?.invalid && (productForm.get('logo')?.dirty || productForm.get('logo')?.touched)">
            <div *ngIf="productForm.get('logo')?.errors?.['required']">Este campo es requerido.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="date_release">Fecha de Liberación</label>
          <input id="date_release" formControlName="date_release" type="date" />
          <div *ngIf="productForm.get('date_release')?.invalid && (productForm.get('date_release')?.dirty || productForm.get('date_release')?.touched)">
            <div *ngIf="productForm.get('date_release')?.errors?.['required']">Este campo es requerido.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="date_revision">Fecha de Revisión</label>
          <input id="date_revision" formControlName="date_revision" type="date" />
        </div>
        <div class="form-buttons">
          <button type="button" (click)="onReset()">Reiniciar</button>
          <button type="submit" [disabled]="productForm.invalid">Enviar</button>
        </div>
      </form>
    </div>
  </main>
  